<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>

    {{ script | safe }}

  </head>
  <body>
    <div class=page>
      <h1> Close Price of the time period chosen</h1>
        {{ div | safe }}
    </div>
	
	<div>
	  <h1> Return to the input page to modify your query</h1>
	  <form action="/" method ="GET">
	    <input type = "submit" name = "my-return" value = "ReSelect" style = "font-size: 20px; height:50px; width:400px" />
      </form>		
	</div>
	
  </body>
</html>


